body {
    background-image: url(/static/images/nrc.png);
    background-size: cover;
    color: white;
    text-align: center;
    padding-top: 5px;
    margin: 0;  /* Remove default margin */
    height: 100vh;  /* Full height for centering */
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Center vertically */
}

h1 {
    padding-top: 20px;  /* Adjusted padding to accommodate centering */
    color: white;
    text-align: center;
    font-size: 50px;
}

p1 {
    font-size: 20px;
    color: black;
}

span {
    background-color: white;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form {
    display: flex;
    width: 40%;  /* Increased width for responsiveness */
    max-width: 280px;  /* Max width for the search box */
}

.search-input {
    flex: 1;
    padding: 8px 10px;  /* Padding for input */
    font-size: 14px;  /* Font size */
    border: 2px solid #ccc;  /* Border style */
    border-radius: 25px 0 0 25px;  /* Rounded corners for the left side */
    outline: none;
    transition: border-color 0.3s ease;  /* Transition for focus */
}

.search-input:focus {
    border-color: #ff7b54;  /* Change border color on focus */
}

.search-button {
    padding: 8px 15px;  /* Padding for the button */
    font-size: 14px;  /* Font size */
    font-weight: bold;  /* Font weight */
    background-color: #FFE1E1;  /* Updated background color */
    color: #333;  /* Text color for contrast */
    border: 2px solid #FFE1E1;  /* Border color matches background */
    border-radius: 0 25px 25px 0;  /* Rounded corners for the right side */
    cursor: pointer;  /* Pointer on hover */
    transition: background-color 0.3s ease, border-color 0.3s ease;  /* Transition effects */
}

.search-button:hover {
    background-color: #ffcccc;  /* Change to a slightly darker shade on hover */
    border-color: #ffcccc;  /* Border color changes on hover */
}
